@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&family=Roboto&display=swap");
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 100%;
  }
body {
    margin: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $background-night;
}

// HEADER
.header {
    width: 90%;
    max-width: 920px;
    height: 30%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    background: inherit;
}
// .levelGame {
//     width: 50%;
//     height: 2rem;
//     color: $font-color;
//     background-color: aqua;
//     display: flex;
//     flex-wrap: wrap;
//     text-align: center;
// }
.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    column-gap: 5%;
    row-gap: 1rem;
    justify-content: space-evenly;
}
.btn {
    position: relative;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background: $btn-color-night;
    border: none;
    box-shadow: $shadow;
    color: $font-color-night;
    font-weight: 700;
    padding: 0%;
    transition: 0.2s;
}
.btnNG {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
}
.data, .timer {
    position: relative;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background: $btn-color-night;
    border: none;
    box-shadow: $shadow;
    color: $font-color-night;
    font-weight: 700;
    padding: 0%;
    transition: 0.2s;
}
.data {
    padding-left: 5px;
    box-sizing: border-box;
    display: flex;
}
.flagLeft {
    padding-left: 10px;
}
.timer {
    width: 10rem;
    height: 2rem;
}

// MAIN 
.main {
    width: 90%;
    max-width: 920px;
    height: 55%;
    display: flex;
    align-self: center;
    background: inherit; 
}

// FOOTER
.footer {
    width: 90%;
    height: 15%;
    max-width: 920px;
    margin-bottom: 2rem;
    display: flex;
    align-self: center;
    background: inherit;
}