@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@400;700&family=Roboto&display=swap");
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 100%;
  }
body {
    margin: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background: $background-night;
}
.body-light {
    background-color: $background-day;
}

// HEADER
.header {
    position: relative;
    width: 100%;
    max-width: 920px;
    // height: 30%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    background: inherit;
}
// .levelGame {
//     width: 50%;
//     height: 2rem;
//     color: $font-color;
//     background-color: aqua;
//     display: flex;
//     flex-wrap: wrap;
//     text-align: center;
// }
.message {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1;
    scale: 0;
    transition: all 0.3s;
    font-style: inherit;
    color: inherit;
}
.message-show {
    scale: 1;
}
.wrapper {
    max-width: 920px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    column-gap: 3rem;
    row-gap: 1rem;
    justify-content: space-evenly;
}
// .wrapper2 {
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
// }
.btn {
    position: relative;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background: $btn-color-night;
    border: none;
    box-shadow: $shadow;
    color: $font-color-night;
    font-weight: 700;
    padding: 0%;
    transition: 0.2s;
}
.btnNG {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: .5rem;
}
.data, .timer {
    position: relative;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background: $btn-color-night;
    // border: none;
    color: $font-color-night;
    font-weight: 700;
    padding: 0%;
    transition: 0.2s;
}
.data {
    padding-left: 5px;
    box-sizing: border-box;
    display: flex;
}
.flag {
    display:flex;
    justify-content: space-between;
    padding-left: 0;
}
.flagImg {
    width: inherit;
    background: center / contain no-repeat url('/src/assets/flag-green.svg');
}
.flagCount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.bombLeft {
    display: flex;
    justify-content: space-between;
}
.bombImg {
    background-image: url('/src/assets/bomb.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;   
}
.bombCount {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clicks {
    display:flex;
    justify-content: space-between;
}
.clickImg {
    background-image: url('/src/assets/green-steps.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
}
.clickCount {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
// .timer {
//     width: 5rem;
//     height: 2rem;
//     margin: 0.6rem;
// }
.area {
    text-align: center;
    height: 1.7rem;
    background: $background-day;
    color: $font-color-night;
    font-weight: 700;
    font-size: 1.3rem;
}
.area-light {
    background: $background-night;
    color: $font-color-day;
}

// MAIN 
.main {
    width: 100%;
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-self: center;
    background: inherit; 
    margin-bottom: 2rem;
}
.field {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}
.field-L2 {
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
}
.field-L3 {
    grid-template-columns: repeat(25, 20px);
    grid-template-rows: repeat(25, 20px);
}
.button {
    // height: 40px;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: $background-day;
    box-shadow: $shadow-day;
    border-radius: .2px;
    padding: 0;

}
.button-light {
    background-color: $background-night;
}

// FOOTER
.footer {
    width: 100%;
    max-width: 920px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    background: inherit;
    // justify-content: center;
}
.wrapperF {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
}
.dark, .volume {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
}
.btn:active {
    box-shadow: $shadow-active;
}
.btn-light {
    background: $btn-color-day;
    color: $font-color-day;
    box-shadow: $shadow-day;
}
.data-light {
    background: $btn-color-day;
    color: $font-color-day;
}
.volume {
    background-image: url('/src/assets/sound_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.volume-mute {
    background-image: url('/src/assets/sound_mute_icon.svg');
}
.h1 {
    font-size: 1.5rem;
    align-self: center;
    color: $font-color-day;
    text-shadow: $text-shadow;
    margin-top: 2rem;
}
.h1-day {
    color: $font-color-night;
    text-shadow: $text-shadow-day;
}
.statistic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 2rem);
    column-gap: 0.5rem;
    row-gap: 1rem;
    margin: 0 2rem 2rem 2rem;
}
.line {
    // background: $stat-color;
    text-align: center;
    border-color: $background-night;
    color: $font-color-day;


}
.line-day {
    // background: $stat-color-day;
    border-color: $background-day;
    color: $font-color-night;

}
.color1 {
    color: purple;
}
.color2 {
    color: red;
}

// .dark {
//     background: center / cover
//     url("/src/assets/theme-icon.svg");
// }