$background-night: rgb(20, 10, 48);
$background-day: rgb(242, 249, 208);
$main-color: rgb(220, 214, 214);
$btn-color-day: rgb(20, 10, 48);
$btn-color-night: rgb(242, 249, 208);
$font-color-day: rgb(242, 249, 208);
$font-color-night: rgb(20, 10, 48);
$shadow: 2px 4px 4px 0px #0f0f0f;

