$background-night: rgb(20, 10, 48);
$background-day: rgb(249, 246, 208);
$main-color: rgb(249, 246, 208);
$btn-color-day: rgb(20, 10, 48);
$btn-color-night: rgb(249, 246, 208);
$font-color-day: rgb(249, 246, 208);
$font-color-night: rgb(20, 10, 48);
$shadow: 2px 4px 4px 0px #d0d0d0;
$shadow-active: 2px 1px 1px 0px #b5b5b5;
$shadow-day: 2px 4px 4px 0px #525252;
$text-shadow: rgb(249, 246, 208) 1px 0 10px;
$text-shadow-day: rgb(20, 10, 48) 1px 0 10px;
$stat-color: rgb(61, 50, 91);
$stat-color-day: rgb(168, 168, 168);


